* {
  margin: 0;
  padding: 0;
  border: none;
}

nav {
  background: orange;
  padding: 1em;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 3em;
}

nav .search--bar input {
  padding: 0.7em 2em;
  background-color: orange;
  border: 0.2em solid white;
  border-radius: 1em;
  --opacity: 0.8;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 8em;
  margin-top: 1em;
}

.pagination button {
  --display: flex;
  --flex-direction: column;
  background: rgba(255, 166, 0, 0.68);
  padding: 1em;
  width: 10em;
  border-radius: 15px;
  --margin-left: auto;
  --margin-right: auto;
}

.pokemon--list {
  padding: 0 5em;
  padding-bottom: 10em;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon--container {
  position: relative;
  display: flex;
  justify-content: center;

  margin: 2em;

  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --max-width: 200px;
  --min-width: 200px;
  width: 200px;
  height: 261px;

  padding: 1em;
  cursor: pointer;

  transition: margin 0.1s;
  -webkit-tap-highlight-color: transparent;
}

.pokemon--container:hover {
  margin-top: 1.7em;
}

.pokemon--container ul {
  list-style: none;
}

.pokemon--list img {
  max-width: 200px;
  border-bottom: 1px solid rgb(240, 240, 240);
  border-width: 80%;
}

.pokemon--container .content {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  --display:block;
  --display: inline-block;
  --visibility: hidden;
  --width: 160px;
  width: 100%;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  z-index: 1;
  --bottom: 125%;
  --left: 50%;
  --margin-left: -80px;
  opacity: 0.9;
  animation: fadeIn 0.4s;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 0.9;}
}

/*.pokemon--container {
  display: flex;
  flex-direction: row;
  --margin-left: auto;
  --margin-right: auto;
  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  max-width: 400px;
}*/

/*.pokemon {
  display: flex;
  --flex-direction: column;
  --justify-content: center;
  align-items: center;
  gap: 1em;
  
  margin-top: 1em;


  list-style: none;
}*/


/*.content {
  display: none;
}*/

.hidden {
  display: none;
}

@media (max-width: 680px) {
  .pagination {
    gap: 1em;
  }

  .pokemon--container:hover {
    margin-top: 2em;
  }
}
