@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700&display=swap');


* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

nav {
  background: orange;
  padding: 1em;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 3em;
}

nav .search--bar input {
  padding: 0.7em 2em;
  background-color: orange;
  border: 0.2em solid white;
  border-radius: 1em;
  outline: none;
  --opacity: 0.8;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 8em;
  margin-top: 2em;
}

.pagination button {
  background: rgba(255, 166, 0, 0.68);
  padding: 1em;
  width: 10em;
  border-radius: 15px;

  cursor: pointer;
}

.pokemon--list {
  padding: 0 5em;
  padding-bottom: 10em;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon--container {
  position: relative;
  display: flex;
  justify-content: center;

  margin: 2em;

  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --max-width: 200px;
  --min-width: 200px;
  width: 200px;
  height: 271px;

  padding: 1em;
  cursor: pointer;

  transition: margin 0.1s;
  -webkit-tap-highlight-color: transparent;
}

.pokemon--container:hover {
  margin-top: 1.7em;
}

.pokemon--container ul {
  list-style: none;
}
.pokemon--container li {
  margin-top: 0.1em;
}

.pokemon--container img {
  max-width: 200px;
  border-bottom: 1px solid rgb(240, 240, 240);
  border-width: 80%;
}

.pokemon--container .content {
  position: absolute;
  top: 0;
  width: 100%;

  background-color: #555;
  color: #fff;
  border-radius: 6px;
  padding: 8px 0;

  opacity: 0.9;
  animation: fadeIn 0.4s;
}

.pokemon--container .pokemon--name {
  font-size: 20px;
}

.pokemon--container .pokemon--type ul{
  display: flex;
  justify-content: center;
  gap: 1em;
  font-size: 14px;
}

.error, .loading {
  font-size: 25px;
  margin-top: 1em;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 0.9;}
}

.hidden {
  display: none;
}

@media (max-width: 680px) {
  .pagination {
    gap: 1em;
  }

  .pokemon--container:hover {
    margin-top: 2em;
  }
}
